.marker {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    fill: var(--title-second-color);
}

.icon-arrow {
    width: 67px;
    height: 67px;
    fill: var(--title-color);
    transition-duration: 250ms;
    
    &:hover,
    &:focus {
        fill: var(--title-second-color);
    }

    @media screen and (max-width: 767.98px) {
        width: 40px;
        height: 40px;
    }
}

.icon-info {
    width: 100px;
    height: 75px;
    fill: var(--title-color);
    margin-bottom: 30px;

    @media screen and (max-width: 767.98px) {
        margin-bottom: 20px;
    }
}

.icon-footer {
    width: 40px;
    height: 40px;
    fill: var(--white-color);
    margin-right: 30px;

    @media screen and (max-width: 767.98px) {
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }
}

.footer-marker {
    width: 17px;
    height: 17px;
}