.hero-img {
    width: 260px;
    height: 198px;

    @media screen and (min-width: 768px) {
        width: 369px;
        height: 310px;
    }

    @media screen and (min-width: 1200px) {
        width: 525px;
        height: 443px;
    }
}

.advances-img {
    // width: 459px;
    // height: 464px;

    @media screen and (min-width: 768px) {
        width: 338px;
        height: 346px;
    }

    @media screen and (min-width: 1200px) {
        width: 459px;
        height: 464px;
    }
}

.photo {
    display: flex;
    align-items: flex-end;

    @media screen and (max-width: 767.98px) {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(3, auto);
    }
}

.photo-item {
    width: 371px;
    height: 360px;
    background-image: url(../images/back-1.png);
    background-repeat: no-repeat;
    background-position: bottom;

    @media screen and (max-width: 767.98px) {
        width: 306px;
        height: 274px;
        background-image: url(../../images/back-1-tab.png);
    }
}

.img-photo,
.additional-photo,
.basic-photo {
    border: 3px solid var(--title-second-color);
    border-radius: 3px;
}

.img-photo {
    position: absolute;
    transform: translate(20%, -10%);
    width: 262px;
    height: 365px;

    @media screen and (max-width: 767.98px) {
        width: 216px;
        height: 278px;
    }
}

.additional-photo {
    width: 100px;
    height: 100px;

    @media screen and (max-width: 767.98px) {
        width: 91px;
        height: 115px;
    }
}

.basic-photo {
    position: relative;
    transform: translate(50px, 25px);
    width: 416px;
    height: 548px;

    @media screen and (max-width: 767.98px) {
        width: 257px;
        height: 330px;
        transform: translate(13%, 5%);
    }
}
