.nav-menu,
.social-menu {
    display: flex;
}

.nav-menu {
    @media screen and (max-width: 767.98px) {
        display: none;
    }
}

.nav-item:not(:last-child) {
    margin-right: 30px;
}

.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}
