.menu-information {
    position: fixed;
    top: 9%;
    right: -100%;
    z-index: 100;
    width: 80%;
    height: max-content;
    transition-property: right;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--white-color);
    background-image: url(../images/back-menu-tab-blue.png);
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        top: 11%;
        width: 35%;
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.mobile-menu {
    @media screen and (max-width: 767.98px) {
        background-image: url(../images/back-menu-mobile.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        padding: 60px 30px;
    }
}

.menu-information.is-open {
    right: 0;
}

.icon-cross {
    transform: scale(0.5, 0.5);
    display: none;
}

.is-open .icon-cross {
    display: block;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.is-open .icon-burger {
    display: none;
}

.is-open .icon-menu {
    transform: translate(80%, 0);
}

.menu-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media screen and (max-width: 767.98px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        background-image: url(../images/back-menu-tab-yellow.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        padding: 100px 30px;
    }
}

.menu-item {
    font-size: 17px;
    line-height: 1.24;

    @media screen and (min-width: 768px) {
        font-size: 23px;
        line-height: 1.26;
    }
}

.menu-item:not(:last-child) {
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }
}

.mobile-link:hover {
    font-size: 23px;
    line-height: 1.26;
    color: var(--title-color);

    @media screen and (min-width: 768px) {
        font-size: 25px;
        line-height: 1.24;
    }
}