.social-menu {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.social-menu_mobile {
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.social-item:not(:last-child) {
    margin-right: 25px;

    @media screen and (min-width: 768px) {
        margin-right: 47.5px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 26px;
    }
}

.icon {
    width: 50px;
    height: 42px;
    background-image: url(../../images/icon-back-tab.png);
    background-position: center;
    background-repeat: no-repeat;
    fill: var(--additional-color);
    transition-duration: 250ms;
    
    &:hover {
        background-image: url(../images/icon-hover.png);
        background-size: 70px 60px;
        background-position: center;
        background-repeat: no-repeat;
        fill: var(--title-second-color);

        @media screen and (max-width: 767.98px) {
            background-image: url(../../images/icon-hover-tab.png);
            background-size: auto;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 70px;
        height: 60px;
        background-image: url(../images/icon-back.png);
    }
}
