.container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        margin-bottom: 120px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;

    @media screen and (min-width: 768px) {
        flex-direction: row;
            min-height: 345px;
        }

    @media screen and (min-width: 1200px) {
            min-height: 480px;
        }
}

.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
}