:root {
  --body-background: #e8e7e9;
  --title-color: #242932;
  --title-second-color: #00a7fe;
  --text-color: #131a34;
  --additional-color: #ffcb00;
  --white-color: #fff;
  --title-font: Lobster, sans-serif;
  --second-font: El Messiri, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  background: var(--body-background);
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
  /* padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color; */
}

/* .link:hover,
.link:focus {
  color: var(--hover-color);
} */

header {
  box-shadow: 0px 3px 3.5px rgba(0, 0, 0, 0.35);
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 130px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  width: 75px;
  height: 75px;
  margin-right: 120px;
}

.menu {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 30px;
}

.social-item:not(:last-child) {
  margin-right: 26px;
}

.icon {
  width: 70px;
  height: 60px;
  background-image: url(../images/icon-back.png);
  background-position: center;
  background-repeat: no-repeat;
  fill: var(--additional-color);
}

.hero {
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  height: 480px;
}

.hero-img {
  width: 525px;
  height: 443px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% / 12 * 5);
}

.heading {
  font-size: 50px;
  line-height: 62px;
  margin-bottom: 60px;
}

.heading-word {
  color: var(--title-second-color);
}

.hero-item {
  display: flex;
  align-items: center;
  font-family: var(--second-font);
  font-weight: 600;
  font-size: 17px;
  line-height: 1.59;
}

.hero-item:not(:last-child) {
  margin-bottom: 30px;
}

.marker {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  fill: var(--title-second-color);
}

.btn {
  margin-top: 60px;
}

.button {
  width: 195px;
  height: 40px;
  background-color: var(--white-color);
  border: 2px solid #00a7fe;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--title-color);
  padding: 10px 20px;
  transition-duration: 250ms;
}

.button:not(:last-child) {
  margin-right: 60px;
}

.button:hover,
.button:focus {
  background-color: var(--title-second-color);
  color: var(--white-color);
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  color: var(--title-color);
  margin-bottom: 60px;
}

.advances {
  display: flex;
  justify-content: space-between;
}

.advances:not(:last-child) {
  margin-bottom: 60px;
}

.title-heading {
  font-size: 30px;
  line-height: 1.27;
  color: var(--title-color);
  margin-bottom: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(100% / 12 * 6);
}

.text {
  font-family: var(--second-font);
  font-weight: 600;
  font-size: 17px;
  line-height: 1.59;
  color: var(--text-color);
}

.presentetion {
  width: calc(100% / 12 * 8);
  margin-bottom: 120px;
}

.icon-arrow {
  width: 67px;
  height: 67px;
  fill: var(--title-color);
  transition-duration: 250ms;
}

.icon-arrow:hover,
.icon-arrow:focus {
  fill: var(--title-second-color);
}

.visualization {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo {
  display: flex;
  align-items: flex-end;
}

.photo-item {
  width: 371px;
  height: 360px;
  background-image: url(../images/back-1.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.img-photo,
.additional-photo,
.basic-photo {
  border: 3px solid var(--title-second-color);
  border-radius: 3px;
}

.img-photo {
  position: absolute;
  transform: translate(20%, -10%);
  width: 262px;
  height: 365px;
}

.additional {
  position: relative;
  transform: translate(0, -30%);
}

.additional-photo {
  width: 100px;
  height: 100px;
}

.additional-item {
  position: absolute;
  transform: translate(25%, -130%);
}

.basic-photo {
  position: relative;
  transform: translate(50px, 25px);
  width: 416px;
  height: 548px;
}

.basic-item {
  position: relative;
  transform: translate(0, -10%);
  width: 502px;
  height: 545px;
  background-image: url(../images/back-2.png);
}

.title-head {
  font-size: 23px;
  line-height: 1.26;
  color: var(--title-second-color);
  margin-bottom: 30px;
}

.text-description {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--title-color);
}

.information {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, auto);
}

.item-info {
  text-align: center;
}

.icon-info {
  width: 75px;
  height: 75px;
  fill: var(--title-color);
  margin-bottom: 30px;
}

.item .icon-info {
  width: 100px;
}

.reviews {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, auto);
}

.footer {
  background-color: var(--title-color);
  margin-bottom: 100px;
}

.title-footer {
  color: var(--white-color);
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.icon-footer {
  width: 40px;
  height: 40px;
  fill: var(--white-color);
  margin-right: 30px;
}

.footer-heading {
  display: flex;
}

.footer-title {
  color: var(--white-color);
}

.list-footer {
  text-align-last: justify;
}

.item-footer {
  font-family: var(--second-font);
  font-weight: 600;
  font-size: 17px;
  line-height: 1.59;
  color: var(--white-color);
}

.item-footer:not(:last-child) {
  margin-bottom: 20px;
}

.footer-marker {
  width: 17px;
  height: 17px;
}

.footer-description {
  width: calc(100% / 12 * 3);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
