:root {
  --body-background: #e8e7e9;
  --title-color: #242932;
  --title-second-color: #00a7fe;
  --text-color: #131a34;
  --additional-color: #ffcb00;
  --white-color: #fff;
  --title-font: Lobster, sans-serif;
  --second-font: El Messiri, sans-serif;
}