.advances {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &:not(:last-child) {
        margin-bottom: 60px;
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100% / 12 * 6);

    @media screen and (max-width: 767.98px) {
        width: calc(100% / 6 * 3);
    }
}

.text {
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 17px;
    line-height: 1.59;
    color: var(--text-color);

    @media screen and (max-width: 767.98px) {
        font-size: 15px;
        line-height: 1.53;
    }
}

.text-description {
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    color: var(--title-color);
}
