.additional {
    position: relative;
    transform: translate(0, -30%);
    
    @media screen and (max-width: 1199.98px) {
        display: none;
    }
}



.additional-item {
    transform: translate(-15%, -122%);
    
    @media screen and (min-width: 1200px) {
        position: absolute;
        transform: translate(25%, -130%);
    }
}



.basic-item {
    transform: translate(0, -13%);
    width: 310px;
    height: 328px;
    background-image: url(../../images/back-2-tab.png);

    @media screen and (min-width: 1200px) {
        position: relative;
        transform: translate(0, -10%);
        width: 502px;
        height: 545px;
        background-image: url(../images/back-2.png);
    }
}