.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% / 2 * 2);

    @media screen and (min-width: 768px) {
        width: calc(100% / 6 * 3);
    }

    @media screen and (min-width: 1200px) {
        width: calc(100% / 12 * 5);
    }
}

.hero-item {
    display: flex;
    align-items: center;
    font-family: var(--second-font);
    font-weight: 600;
    font-size: 15px;
    line-height: 1.53;

    @media screen and (min-width: 1200px) {
        font-size: 17px;
        line-height: 1.59;
    }
    
    &:not(:last-child) {
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 30px;
        }
    }
}