.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 130px;
}

.hero {
    background-image: url(../images/back.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.visualization {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
