.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: auto;
    height: 80px;

    @media screen and (min-width: 768px) {
        height: 100px;
    }

    @media screen and (min-width: 1200px) {
        height: 130px;
    }
}

.header-tab {
    @media screen and (max-width: 1199.98px) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.hero {
    background-image: url(../images/back.png);
    background-size: 95% 45%;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        background-size: 50% 100%;
    }
}

.visualization {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
